* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black;
}

.login-notice-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-notice {
    text-align: center;
}

.card-image {
    border-radius: 10px;
}

.recipe-card {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.modal-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}
  
.modal-body p {
    margin: 0;
    font-size: 1.2em;
}

.chat-section {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.chat-container {
    max-height: 300px;
    overflow-y: auto; /* Enable scrolling for overflow content */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.user-message {
    max-width: 75%;
    background-color: lightblue;
    border-radius: 10px;
}

.assistant-message {
    max-width: 75%;
    background-color: lightgray;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .chat-container {
        max-height: 450px;
    }
    .card-image {
        max-width: 250px;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .chat-section {
        border-top: none;
        border-left: 1px solid black;
        padding-top: 0;
    }
    .chat-container {
        max-height: 600px;
    }
}

.temp {
    border: 1px solid white;
}